{% extends "base.html" %}

{% block content %}
<main class="container py-5">
    <section class="card-body">
        <h1 class="display-1 text-center"> <span class="fs-14 text-warning">.</span>Register App</h1> 
        <p>{% lorem 1 b random %} </p>
        {% if user.is_authenticated %}
        <div class="text-center">
            <a class="btn btn-dark" href="{% url 'logout' %}">
                Cerrar Sesion
            </a>
        </div>
        {% else %}
        <div class="text-center">
            <a class="btn btn-secundary" href="{% url 'signin' %}">
                Iniciar Sesion
            </a>
            <a class="btn btn-dark" href="{% url 'signup' %}">
                Crear Usuario
            </a>
        </div>
        {% endif %}
    </section>
</main>
{% endblock %}